.portada {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/portada.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__titulo {
        margin-top: 110px;
        color: #fff;
    }
    &__descripcion {
        color: #fff;
    }
}